*{
    margin: 0;
    padding: 0;
}
.ul li ol{
    text-decoration: none;
    list-style: none;
}
a{

   text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: "Karla-Bold";
    src: url("../fonts/Karla-Bold.ttf") format("truetype");
    font-weight: 700;

    
}

@font-face {
    font-family: "Karla-Regular";
    src: url("../fonts/Karla-Regular.ttf") format("truetype");
    font-weight: 400;
}

.header{
    width: 100%;
    background-color: white;
    position: fixed;
    padding: 20px 0 20px 0;
   
    
}

.header_container{
    width: 900px;
    
    margin: 0 auto;
}

.wrapper_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  
    
}

.text_menu_link{

    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    margin-left: 30px;
    list-style: none;
   
}

.menu_link{
    display: flex;
}
.container{
    width: 1380px;
    margin: 0 auto;
}
.section1{
    background: url("../img/Group\ 1.png") no-repeat center center;
    height: 530px;
}