*{
    margin: 0;
    padding: 0;
}

.ul li ol{
    text-decoration: none;
    list-style: none;
}

.a{
    text-decoration: none;
    list-style: none;

}

@font-face {
    font-family: "Georgia";
    src: url("  ../fonts/Georgia-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Palatino_Linotype";
    src: url(" ../fonts/Palatino_Linotype-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}



.body{
    overflow-x: hidden;
}

.header{

    background-color: white;
   position: fixed;
   width: 100%;
    
}

.container_header{
    width: 1200px;
    margin: 0 auto;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.wrapper_header{
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.right_header{
    display: flex;
    align-items: center;
}

.menu_link{
    list-style: none;
}


.menu_link a{
    text-decoration: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #353732;
    
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    padding-top: 5px;

}

.menu_link:hover{
    border-bottom: 1px solid black;
}

.right_header_menu{
    display: flex;
    width: 200px;
    justify-content: space-between;
}


.text_pl_s36{

    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #353732; 

}

.wrapper_section1{
    height: 358px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section2{
    background-color: #FAFAFA;
}

.wrapper_section2{
   
    height: 1392px;
}

.text_group_sc1{
    padding-top: 17px;
    width: 505px;
    height: 161px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textp_intro{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #353732;
    
}

.textpl_25{

    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height, or 134% */
    color: #45525B;

}

.textg_14{

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* or 160% */
    color: #45525B;
    
}

.text_g_button{

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    color: #45525B;
    padding-top: 17px;

}

.w243_group{
    width: 243px;
    height: 73px;

}